/* Подключение шрифтов */
@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  font-style: normal;
  src: local("Segoe UI Light"), local("SegoeUI-Light"),
    url("../fonts/segoeuilight.woff") format("woff"),
    url("../fonts/segoeuilight.woff2") format("woff2");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: normal;
  font-style: normal;
  src: local("Segoe UI"), local("SegoeUI"),
    url("../fonts/segoeui.woff") format("woff"),
    url("../fonts/segoeui.woff2") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  font-style: normal;
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"),
    url("../fonts/segoeuibold.woff") format("woff"),
    url("../fonts/segoeuibold.woff2") format("woff2");
}

@font-face {
  font-family: "Segoe UI Semibold";
  font-weight: 600;
  font-style: normal;
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"),
    url("../fonts/segoeuisemibold.woff") format("woff"),
    url("../fonts/segoeuisemibold.woff2") format("woff2");
}

/* Глобальные стили */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

/* Основные стили */

body {
  color: #515f67;
  background: #ffffff;
  font-family: "Segoe UI", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.header {
  min-height: 800px;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__nav {
  min-height: 150px;
  padding: 57px 0;
  background-color: rgba(57, 68, 75, 0.85);
}

.header__title {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.header__title span {
  color: #4bcaff;
  text-transform: uppercase;
}

.header-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.header-list__item {
  color: #ffffff;
}

.header-list__link {
  display: inline-block;
  margin-left: 10px;
  padding: 0 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 35px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.header-list__link:hover {
  color: #4bcaff;
  box-shadow: 0 0 0 2px #4bcaff;
  text-decoration: none;
}

.header__descr {
  margin: 0;
  margin-top: 234px;
  color: #ffffff;
  font-size: 42px;
  font-weight: 300;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}

.header__descr q {
  padding: 0 15px;
  background-color: rgba(74, 85, 93, 0.85);
}

.header__descr span:first-child {
  padding-right: 15px;
}

.header__descr span:last-child {
  padding-left: 18px;
}

.services {
  min-height: 405px;
  padding: 80px 0 75px;
  color: #ffffff;
  background-color: #4bcaff;
}

.services__title {
  position: relative;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.services__title::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
}

.services__list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.service-item__title {
  margin: 0;
  margin-top: 25px;
  font-family: "Segoe Ui Semibold", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
}

.service-item__descr {
  margin: 0;
  margin-top: 18px;
  font-family: "Segoe Ui Semibold", "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.portfolio {
  padding: 80px 0;
}

.portfolio__title {
  margin: 0;
  color: #515f67;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.portfolio__title::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 15px;
  width: 45px;
  height: 2px;
  background-color: #515f67;
}

.filters {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  list-style: none;
}

.filters__link {
  display: inline-block;
  margin-left: 15px;
  padding: 0 18px;
  color: #515f67;
  opacity: 0.9;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.filters__link:hover {
  text-decoration: none;
  box-shadow: 0 2px 0 0 #4bcaff;
}

.filters__link--current,
.filters__link--current:hover {
  color: #4bcaff;
  box-shadow: 0 0 0 2px #4bcaff;
}

.portfolio__list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  position: relative;
  flex-basis: 23%;
  height: 270px;
  margin: 30px 15px 0;
  padding: 0;
  background-color: rgba(151, 151, 151, 0.8);
}

.portfolio__item:first-child {
  margin-left: 0;
}

.portfolio__item:last-child {
  margin-right: 0;
}

.portfolio__item:nth-child(4n) {
  margin-right: 0;
}

.portfolio__item:nth-child(5n) {
  margin-left: 0;
}

.portfolio__item:hover::before {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(73, 82, 89, 0.8);
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 270px;
  vertical-align: middle;
  cursor: pointer;
}

