/* Подключение шрифтов */
@font-face {
  font-family: "Segoe UI";
  font-weight: 300;
  font-style: normal;
  src: local("Segoe UI Light"), local("SegoeUI-Light"),
    url("../fonts/segoeuilight.woff") format("woff"),
    url("../fonts/segoeuilight.woff2") format("woff2");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: normal;
  font-style: normal;
  src: local("Segoe UI"), local("SegoeUI"),
    url("../fonts/segoeui.woff") format("woff"),
    url("../fonts/segoeui.woff2") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-weight: 700;
  font-style: normal;
  src: local("Segoe UI Bold"), local("SegoeUI-Bold"),
    url("../fonts/segoeuibold.woff") format("woff"),
    url("../fonts/segoeuibold.woff2") format("woff2");
}

@font-face {
  font-family: "Segoe UI Semibold";
  font-weight: 600;
  font-style: normal;
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"),
    url("../fonts/segoeuisemibold.woff") format("woff"),
    url("../fonts/segoeuisemibold.woff2") format("woff2");
}

/* Глобальные стили */
html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

h2::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 45px;
  height: 2px;
  background-color: #515f67;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
}

.col-left {
  padding-left: 0;
}

.col-right {
  padding-right: 0;
}

/* Основные стили */

body {
  color: #515f67;
  background: #ffffff;
  font-family: "Segoe UI", "Helvetica", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.header {
  min-height: 800px;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__nav {
  min-height: 150px;
  padding: 57px 0;
  background-color: rgba(57, 68, 75, 0.85);
}

.header__title {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.header__title span {
  color: #4bcaff;
  text-transform: uppercase;
}

.header-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.header-list__item {
  color: #ffffff;
}

.header-list__link {
  display: inline-block;
  margin-left: 10px;
  padding: 0 20px;
  color: #ffffff;
  font-weight: 700;
  line-height: 35px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.header-list__link:hover {
  color: #4bcaff;
  box-shadow: 0 0 0 2px #4bcaff;
  text-decoration: none;
}

.header__descr {
  margin: 0;
  margin-top: 234px;
  color: #ffffff;
  font-size: 42px;
  font-weight: 300;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
}

.header__descr q {
  padding: 0 15px;
  background-color: rgba(74, 85, 93, 0.85);
}

.header__descr span:first-child {
  padding-right: 15px;
}

.header__descr span:last-child {
  padding-left: 18px;
}

.services {
  min-height: 405px;
  padding: 80px 0 75px;
  color: #ffffff;
  background-color: #4bcaff;
}

.services__title {
  position: relative;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.services__title::before {
  background-color: #ffffff;
}

/* .services__title::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
} */

.services__list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.service-item__title {
  margin: 0;
  margin-top: 25px;
  font-family: "Segoe Ui Semibold", "Arial", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  text-transform: uppercase;
}

.service-item__descr {
  margin: 0;
  margin-top: 18px;
  font-family: "Segoe Ui Semibold", "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.portfolio {
  padding: 80px 0;
}

.portfolio__title {
  position: relative;
  margin: 0;
  color: #515f67;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

/* .portfolio__title::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 15px;
  width: 45px;
  height: 2px;
  background-color: #515f67;
} */

.filters {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  list-style: none;
}

.filters__link {
  display: inline-block;
  margin-left: 15px;
  padding: 0 18px;
  color: #515f67;
  opacity: 0.9;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
}

.filters__link:hover {
  text-decoration: none;
  box-shadow: 0 2px 0 0 #4bcaff;
}

.filters__link--current,
.filters__link--current:hover {
  color: #4bcaff;
  box-shadow: 0 0 0 2px #4bcaff;
}

.portfolio__list {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.portfolio__item {
  position: relative;
  flex-basis: 23%;
  height: 270px;
  margin: 30px 15px 0;
  padding: 0;
  background-color: rgba(151, 151, 151, 0.8);
}

.portfolio__item:first-child {
  margin-left: 0;
}

.portfolio__item:last-child {
  margin-right: 0;
}

.portfolio__item:nth-child(4n) {
  margin-right: 0;
}

.portfolio__item:nth-child(5n) {
  margin-left: 0;
}

.portfolio__item:hover::before {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(73, 82, 89, 0.8);
  color: #ffffff;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  line-height: 270px;
  vertical-align: middle;
  cursor: pointer;
}

.vlog {
  min-height: 473px;
  padding: 80px 0;
  color: #ffffff;
  background-color: #515f67;
}

.vlog__title {
  position: relative;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.vlog__title::before {
  background-color: #ffffff;
}

.vlog__descr {
  margin: 0;
  margin-top: 45px;
}

.vlog__descr:not(:first-child) {
  margin-top: 25px;
}

.vlog__link {
  display: inline-block;
  margin-top: 30px;
  padding: 0 40px;
  color: #353f46;
  font-weight: 700;
  line-height: 45px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #353f46;
}

.vlog__link:hover {
  color: #353f46;
  background-color: #ffffff;
  text-decoration: none;
  border-color: #ffffff;
}

.vlog__img-wrapper {
  margin-left: auto;
  cursor: pointer;
}

.vlog__img {
  display: block;
  margin-left: auto;
}

.twitter {
  padding: 80px 0 66px;
  color: #ffffff;
  background-color: #4bcaff;
}

.twitter__col {
  padding: 0;
}

.twitter__title {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.twitter__title::before {
  background-color: #ffffff;
}

.twitter__icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  font-weight: normal;
}

.twitter__text {
  margin-top: 39px;
  font-size: 28px;
  font-weight: 300;
  line-height: 50px;
}

.twitter__text strong {
  font-family: "Segoe UI Semibold", "Arial", sans-serif;
  font-weight: 600;
}

.about {
  min-height: 505px;
  padding: 100px 0 160px;
  color: #ffffff;
  background-image: url("../img/bg-about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.about__title {
  position: relative;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.about__title::before {
  background-color: #ffffff;
}

.about__descr {
  margin: 0;
  margin-top: 25px;
}

.about__descr--left-col {
  margin-top: 45px;
}

.about__descr--right-col {
  margin-top: 52px;
}

.socials {
  margin: 0;
  margin-top: 35px;
  padding: 0;
  list-style: none;
  display: flex;
}

.socials__item {
  width: 64px;
  height: 64px;
  margin-right: 20px;
  border: 2px solid #ffffff;
}

.socials__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
}

.socials__link:hover {
  color: #4bcaff;
  text-decoration: none;
}

.testimonials {
  padding: 80px 0;
}

.testimonials__title {
  position: relative;
  margin: 0;
  color: #515f67;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  text-transform: uppercase;
}

.testimonials__title::before {
  background-color: #515f67;
}

.testimonials__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 26px;
  font-size: 0;
  background-image: url("../img/quotes.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.testimonials__blockquote {
  margin: 0;
  margin-top: 39px;
  max-width: 1000px;
}

.testimonials__quote {
  color: #515f67;
  font-size: 28px;
  font-weight: 300;
  line-height: 50px;
}

.testimonials__author {
  display: inline-block;
  margin-top: 20px;
  color: #4bcaff;
  font-weight: 700;
  font-style: normal;
  line-height: 50px;
}

.contact {
  min-height: 814px;
  padding: 80px 0;
  color: #ffffff;
  background-image: url("../img/bg-contact.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.contact__title {
  position: relative;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.contact__title::before {
  background-color: #ffffff;
}

.contact-form {
  margin-top: 50px;
}

.contact-form__field {
  margin: 0;
}

.contact-form__field:not(:first-child) {
  margin-top: 45px;
}

.contact-form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.contact-form__input {
  width: 100%;
  height: 60px;
  padding: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
}

.contact-form__col-right {
  padding: 0;
}

.contact-form__text {
  margin: 0;
  margin-top: 20px;
}

.contact-form__author-block {
  margin-top: 35px;
}

.contact-form__author-info {
  display: block;
}

.contact-form__textarea-wrapper {
  margin-top: 40px;
}

.contact-form__textarea {
  width: 100%;
  height: 220px;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.contact-form__submit {
  margin-top: 40px;
  padding: 0 153px;
  line-height: 60px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #4bcaff;
  vertical-align: middle;
  text-align: center;
  border: none;
}

.footer {
  padding: 78px 0;
  background-color: #353f47;
}

.nav-footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-footer__link {
  display: inline-block;
  padding: 0 13px;
  color: #515f67;
  font-size: 12px;
  line-height: 12px;
  font-family: "Segoe UI Semibold", "Arial", sans-serif;
  text-transform: uppercase;
  border-left: 2px solid #515f67;
}

.nav-footer__link--first {
  padding-left: 0;
  border-left: none;
}

.nav-footer__link:hover {
  color: #ffffff;
  text-decoration: none;
}

